/* Custom styles */

body {
  background-color: #f5f8fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea.form-control {
  resize: none;
}

.card-title {
  font-weight: 600;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
